workflows/Luz IA - Rebuild TL (state).json
{
  "name": "Luz IA - Rebuild TL",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const raw = ($input.first().json.chatInput || \"\").trim();\nconst text = raw.toLowerCase();\n\n// Greeting guard (so \"Hola\" doesn't trigger retrieval)\nconst isGreeting = /^(hola|buenas|hello|hi|hey|saludos|buenos dias|buenas tardes|buenas noches)\\b/i.test(raw);\n\n// Detect norm IDs like \"nicsp 02\", \"norma 3\", \"la 3ra\", etc.\nconst match =\n  text.match(/nicsp[\\s-]*0*([1-9]\\d?)/i) ||\n  text.match(/norma[\\s-]*0*([1-9]\\d?)/i) ||\n  text.match(/\\bla[\\s-]*0*([1-9]\\d?)\\b/i) ||\n  text.match(/\\b([1-9]\\d?)(era|ra|da|ta)\\b/i);\n\nlet normaId = null;\nif (match) {\n  const n = parseInt(match[1], 10);\n  if (n >= 1 && n <= 99) {\n    normaId = `NICSP-${String(n).padStart(2, \"0\")}`;\n  }\n}\n\n// Determine doc_set based on keywords. If a specific norm is found, doc_set is NICSP.\nlet docSet = null;\nif (normaId) {\n  docSet = \"NICSP\";\n} else {\n  const txt = text.toLowerCase();\n  if (/(nicsp|norma nicsp)/.test(txt)) {\n    docSet = \"NICSP\";\n  } else if (/(digecog|erir|contabilidad gubernamental|ministerio de hacienda|direcci\\u00f3n general de contabilidad|dige)/.test(txt)) {\n    docSet = \"DIGECOG\";\n  }\n}\n\n// Coreference -> inherit last_norma_id/doc_set from state\nconst coref = /\\b(esta norma|esa norma|la norma|que dice esta norma|qué dice esta norma|que dice la norma|qué dice la norma|que dice esa norma|qué dice esa norma|sobre eso|eso|lo anterior|la anterior|esa nicsp|esta nicsp)\\b/i;\nif (!normaId && coref.test(raw) && $json.last_norma_id) {\n  normaId = $json.last_norma_id;\n  docSet = $json.last_doc_set || \"NICSP\";\n}\n\nreturn [{ json: { ...$json, norma_id: normaId, doc_set: docSet, is_greeting: isGreeting } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        96
      ],
      "id": "3b26bd7f-3d04-4c33-8bf1-23154a5a58ba",
      "name": "Preprocess Query"
    },
    {
      "parameters": {
        "jsCode": "let q = ($json.chatInput || \"\").trim();\n\n// 1) Mantén la pregunta original SIEMPRE.\n// 2) Solo añade “contexto” sin cambiar la intención del usuario.\n\nif ($json.doc_set === 'NICSP') {\n  // Si detectó norma específica, NO reescribas a resumen.\n  // Solo ancla la consulta a esa norma, manteniendo la pregunta.\n  if ($json.norma_id) {\n    q = `${q} (norma: ${$json.norma_id})`;\n  } else {\n    // NICSP sin norma específica: solo prefijo suave\n    q = `NICSP: ${q}`;\n  }\n} else if ($json.doc_set === 'DIGECOG') {\n  q = `DIGECOG: ${q}`;\n}\n\nreturn [{ json: { ...$json, rag_query: q } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        96
      ],
      "id": "b8105d52-a57e-4876-83a4-271a1454b897",
      "name": "Build Query"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.rag_query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        240
      ],
      "id": "8923e488-fdb6-4c11-b2bd-ab955d1502d0",
      "name": "Embed Query",
      "credentials": {
        "httpBearerAuth": {
          "id": "Ji2FqaLyXhVQyjod",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wqhqlwqnzbhmpvqbtbey.supabase.co/rest/v1/rpc/match_documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxaHFsd3FuemJobXB2cWJ0YmV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDMzMjMyMiwiZXhwIjoyMDg1OTA4MzIyfQ._TXdDkjpn5dPF-NO6cGeFviQMRGhztZ3ANCTUPJkXJw"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxaHFsd3FuemJobXB2cWJ0YmV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDMzMjMyMiwiZXhwIjoyMDg1OTA4MzIyfQ._TXdDkjpn5dPF-NO6cGeFviQMRGhztZ3ANCTUPJkXJw"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "match_count",
              "value": "50"
            },
            {
              "name": "query_embedding",
              "value": "={{ $json.data[0].embedding }}"
            },
            {
              "name": "filter",
              "value": "={{ (() => {\n  const f = {};\n  const docSet = $node[\"Preprocess Query\"].json.doc_set;\n  const normaId = $node[\"Preprocess Query\"].json.norma_id;\n\n  if (docSet) f.doc_set = docSet;\n  if (normaId) f.norma_id = normaId;\n\n  return f;\n})() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1136,
        240
      ],
      "id": "e864b2b8-4af1-4d0b-a08e-fedb19ba7c3c",
      "name": "Query Supabase",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const base = $node[\"Build Query\"].json || {};\nconst rows = items.map(i => i.json);\n\n// filtra basura/vacíos\nconst cleaned = rows.filter(r => ((r.text ?? \"\") + \"\").trim().length > 0);\n\nconst rag_context = cleaned\n  .map((r, idx) => {\n    const m = r.metadata || {};\n    const text = ((r.text ?? \"\") + \"\").trim();\n\n    return [\n      \"Fragmento \" + (idx + 1),\n      \"chunk_id: \" + (r.chunk_id || m.chunk_id || \"\"),\n      \"doc_set: \" + (m.doc_set || \"\"),\n      \"norma_id: \" + (m.norma_id || \"\"),\n      \"sección: \" + (m.seccion || \"\"),\n      \"subsección: \" + (m.subseccion || \"\"),\n      \"similaridad: \" + (r.similarity ?? \"\"),\n      \"texto:\\n\" + text\n    ].join(\"\\n\");\n  })\n  .join(\"\\n\\n---\\n\\n\");\n\nreturn [{\n  json: {\n    ...base,          // <-- aquí vuelven rag_query, doc_set, norma_id, chatInput\n    rag_rows: cleaned,\n    rag_context\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        240
      ],
      "id": "46dd34eb-9a82-49a1-9d6d-2ac7b22e3409",
      "name": "Prepare RAG Context"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1520,
        384
      ],
      "id": "67336beb-cc3e-4004-aaf5-73ecd97b36df",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OnA1yAy0ZaE04esx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1808,
        384
      ],
      "id": "fe5a02f0-91f9-4dad-8a4e-4b3f3ab6a69a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Contexto de usuario recuperado\n{{ $json.rag_context }}\n\npregunta de usuario\n{{ $json.rag_query }}\n\n\nContext\n\nEres el asistente institucional “Luz IA” de la Dirección General de Contabilidad Gubernamental (DIGECOG) en República Dominicana. Respondes consultas de ciudadanía, servidores públicos y proveedores a través de WhatsApp, orquestado por n8n\nDispones de una base de conocimientos o RAG en Supabase:\n\nNormas NICSP fragmentadas en Supabase\n\nEl contexto puede estar vacío o incompleto. Tu prioridad es usar, resumir y citar (de forma natural) la información del contexto; si no alcanza, actúa con estricta prudencia, indicando límites y ofreciendo pasos verificables. No inventes datos normativos ni fechas.\n\nSuposiciones operativas\n\nIdioma principal: español (RD).\n\nCanal: WhatsApp → respuestas claras, párrafos cortos, como máximo 5 líneas por párrafo.\n\nTemas frecuentes: misión/funciones DIGECOG, bases legales (p. ej. Ley 126-01), ERIR, NICSP, cronología, procesos y servicios.\n\nHorario/derivaciones: usa estos textos si corresponde:\n\nHorario: Lun - Vie (7:30 AM - 4:00 PM).\n\nEscalación humana: [OAI@digecog.gob.do], tiempos de respuesta: [1h].\n\nRole\n\nActúas como experto/a líder con 20+ años en contabilidad gubernamental y normas del sector público, con enfoque en comunicación institucional y RAG (retrieval-augmented generation).\nEres riguroso/a, preciso/a y orientado/a a servicio: priorizas exactitud, transparencia de fuentes y lenguaje formal accesible (nivel lectura B2–C1).\n\nAction\n\nSigue estos pasos en orden en cada consulta:\n\nEntender la intención: clasifica mentalmente como (informativa / normativa / procedimiento / estado / contacto / otro).\n\nRevisar el CONTEXT:\n\nSi contiene pasajes relevantes, extrae los puntos clave.\n\nSi está vacío o insuficiente, declara la limitación y ofrece opciones (derivar, solicitar precisión, o pasos verificables).\n\nVerificación rápida: valida coherencia (fechas, leyes, siglas). Si hay ambigüedad, pregunta una aclaración breve y cerrada (sí/no o selección) solo si es imprescindible para no errar.\n\nRedacción (estilo WhatsApp):\n\nAbre con una frase-resumen de 1 línea.\n\nContinua con máx. 3 viñetas o 2 párrafos cortos.\n\nCuando corresponda, incluye referencia natural al documento (p. ej., “según nuestros documentos internos/según la Ley 126-01”).\n\nEvita tecnicismos innecesarios; define siglas la primera vez.\n\nCierre útil: ofrece un siguiente paso (enlace/derivación/consulta relacionada) y, si procede, pregunta “¿Deseas que te envíe [formulario/documento/procedimiento]?”.\n\nPolítica de precisión:\n\nNo inventes normas, montos, fechas ni procedimientos.\n\nSi el usuario solicita algo fuera del ámbito DIGECOG (p. ej., asesoría legal personalizada), acota el alcance y orienta.\n\nPrivacidad/seguridad: no solicites ni proceses datos sensibles del usuario. Redacta/anonimiza si aparece PII.\n\nFormat\n\nSalida en texto plano optimizado para WhatsApp:\n\n1 línea de respuesta breve\n\nHasta 3 viñetas con detalles clave\n\n1 línea de cierre/seguimiento\n\nCuando aplique, una aclaración de fuente: “(Basado en documentos internos de DIGECOG)” o “(Referencia: Ley 126-01)”.\n\nSi el usuario pidió un formato específico (lista, pasos, tabla), respétalo dentro del límite de WhatsApp.\n\nPlantillas rápidas\n\nRespuesta con contexto encontrado\n\n[Resumen 1 línea]\n• [Dato clave 1]\n• [Dato clave 2]\n• [Dato clave 3]\n(Basado en documentos internos de DIGECOG)\n¿Deseas más detalles o el documento relacionado?\n\nSin contexto suficiente\n\nAún no tengo evidencia en los documentos internos para responder con exactitud.\n• Puedo derivarte a [contacto oficial]\n\n• O indícame: [aclaración mínima necesaria]\n¿Prefieres que verifique otra fuente interna autorizada?\n\nTarget Audience\n\nChatGPT 4.1 mini /  AI Agent integrado con WhatsApp.\n\nUsuarios finales: ciudadanía, servidores públicos, proveedores.\n\nTono: institucional, claro, respetuoso y conciso.\n\nLectura: B2–C1, con accesibilidad terminológica (definir siglas la primera vez).\n\nReglas adicionales (guardrails)\n\nPrioridad absoluta al CONTEXT. Si existe contradicción entre conocimiento general y CONTEXT, prevalece el CONTEXT.\n\nSi mencionas una norma, cita de forma natural (p. ej., “conforme a la Ley 126-01”); no inventes números/artículos.\n\nNo prometas trámites/tiempos no confirmados oficialmente.\n\nEvita juicios de valor; mantén neutralidad institucional.\n\nLongitud objetivo: 600–900 caracteres por respuesta; si se requiere extensión, ofrece continuación.\n\nTrata de presentarse con tu nombre cuando sea la primera interaccion\n\nEjemplo mínimo (ilustrativo)\n\nUsuario: “¿Qué es la DIGECOG?”\nLuz IA:\n“DIGECOG es el órgano rector de la contabilidad pública en RD.\n• Creada por la Ley 126-01 (2001).\n• Dependencia del Ministerio de Hacienda.\n• Elabora el ERIR y adopta NICSP para mejorar la información financiera.\n(Basado en documentos internos de DIGECOG)\n¿Te envío el resumen histórico o las funciones principales?”",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1568,
        96
      ],
      "id": "e254faf1-4e6f-45dc-b448-802b00f8db25",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "fb7aa53c-9109-44d6-977a-6ee2eab5f128",
              "leftValue": "={{ $json.is_greeting }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        96
      ],
      "id": "21c9f1e9-266e-4856-b013-9f800e62157b",
      "name": "IF Greeting?"
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first().json || {};\nreturn [{ json: { ...base, rag_rows: [], rag_context: \"\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -16
      ],
      "id": "5d205edb-035d-4ea6-9ce4-a3693eb51d06",
      "name": "Empty RAG Context"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        80
      ],
      "id": "97f14a3e-0ae5-4e5f-b2a8-3df23077100d",
      "name": "Telegram Trigger",
      "webhookId": "dd266998-a3da-4c25-bff1-01576e266bb7",
      "credentials": {
        "telegramApi": {
          "id": "8mvaAGAvnEwnFi4R",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        96
      ],
      "id": "c781b49f-f8e5-4965-97c0-56e9cbcf5b19",
      "name": "Send a text message",
      "webhookId": "baff38e8-d67d-4202-a482-535bba1ede64",
      "credentials": {
        "telegramApi": {
          "id": "8mvaAGAvnEwnFi4R",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = ($json.message || {});\nconst chatId = msg.chat?.id;\nconst fromId = msg.from?.id;\n\nconst channel = 'telegram';\nconst user_ref = fromId ? String(fromId) : 'unknown';\nconst thread_ref = chatId ? String(chatId) : user_ref;\nconst session_id = `${channel}:${user_ref}:${thread_ref}`;\n\nconst chatInput = (msg.text || '').trim();\n\nreturn [{ json: { ...$json, channel, user_ref, thread_ref, session_id, chatInput } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        96
      ],
      "id": "norm-tl-001",
      "name": "Normalize Event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wqhqlwqnzbhmpvqbtbey.supabase.co/rest/v1/rpc/get_chat_state",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxaHFsd3FuemJobXB2cWJ0YmV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDMzMjMyMiwiZXhwIjoyMDg1OTA4MzIyfQ._TXdDkjpn5dPF-NO6cGeFviQMRGhztZ3ANCTUPJkXJw"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxaHFsd3FuemJobXB2cWJ0YmV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDMzMjMyMiwiZXhwIjoyMDg1OTA4MzIyfQ._TXdDkjpn5dPF-NO6cGeFviQMRGhztZ3ANCTUPJkXJw"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_session_id",
              "value": "={{ $json.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        340,
        96
      ],
      "id": "state-get-tl-001",
      "name": "Get Chat State",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const state = $input.first().json || {};\nconst base = $node[\"Normalize Event\"].json || {};\nreturn [{ json: { ...base, last_norma_id: (state.last_norma_id ?? null), last_doc_set: (state.last_doc_set ?? null) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        96
      ],
      "id": "state-merge-tl-001",
      "name": "Merge Chat State"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wqhqlwqnzbhmpvqbtbey.supabase.co/rest/v1/rpc/insert_chat_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxaHFsd3FuemJobXB2cWJ0YmV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDMzMjMyMiwiZXhwIjoyMDg1OTA4MzIyfQ._TXdDkjpn5dPF-NO6cGeFviQMRGhztZ3ANCTUPJkXJw"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxaHFsd3FuemJobXB2cWJ0YmV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDMzMjMyMiwiZXhwIjoyMDg1OTA4MzIyfQ._TXdDkjpn5dPF-NO6cGeFviQMRGhztZ3ANCTUPJkXJw"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_session_id",
              "value": "={{ $json.session_id }}"
            },
            {
              "name": "p_role",
              "value": "'user'"
            },
            {
              "name": "p_content",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "p_doc_set",
              "value": "={{ $json.doc_set }}"
            },
            {
              "name": "p_norma_id",
              "value": "={{ $json.norma_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        -24
      ],
      "id": "msg-user-tl-001",
      "name": "Log User Message",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wqhqlwqnzbhmpvqbtbey.supabase.co/rest/v1/rpc/upsert_chat_state",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxaHFsd3FuemJobXB2cWJ0YmV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDMzMjMyMiwiZXhwIjoyMDg1OTA4MzIyfQ._TXdDkjpn5dPF-NO6cGeFviQMRGhztZ3ANCTUPJkXJw"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxaHFsd3FuemJobXB2cWJ0YmV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDMzMjMyMiwiZXhwIjoyMDg1OTA4MzIyfQ._TXdDkjpn5dPF-NO6cGeFviQMRGhztZ3ANCTUPJkXJw"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_session_id",
              "value": "={{ $json.session_id }}"
            },
            {
              "name": "p_last_doc_set",
              "value": "={{ $json.doc_set }}"
            },
            {
              "name": "p_last_norma_id",
              "value": "={{ $json.norma_id }}"
            },
            {
              "name": "p_last_topic",
              "value": "={{ $json.topic || null }}"
            },
            {
              "name": "p_last_user_query",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "p_last_rag_query",
              "value": "={{ $json.rag_query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        200
      ],
      "id": "state-upsert-tl-001",
      "name": "Upsert Chat State",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wqhqlwqnzbhmpvqbtbey.supabase.co/rest/v1/rpc/insert_chat_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxaHFsd3FuemJobXB2cWJ0YmV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDMzMjMyMiwiZXhwIjoyMDg1OTA4MzIyfQ._TXdDkjpn5dPF-NO6cGeFviQMRGhztZ3ANCTUPJkXJw"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxaHFsd3FuemJobXB2cWJ0YmV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDMzMjMyMiwiZXhwIjoyMDg1OTA4MzIyfQ._TXdDkjpn5dPF-NO6cGeFviQMRGhztZ3ANCTUPJkXJw"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_session_id",
              "value": "={{ $json.session_id }}"
            },
            {
              "name": "p_role",
              "value": "'assistant'"
            },
            {
              "name": "p_content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "p_doc_set",
              "value": "={{ $json.doc_set }}"
            },
            {
              "name": "p_norma_id",
              "value": "={{ $json.norma_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        220
      ],
      "id": "msg-asst-tl-001",
      "name": "Log Assistant Message",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Preprocess Query": {
      "main": [
        [
          {
            "node": "Build Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Query": {
      "main": [
        [
          {
            "node": "Upsert Chat State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Query": {
      "main": [
        [
          {
            "node": "Query Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Supabase": {
      "main": [
        [
          {
            "node": "Prepare RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare RAG Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "IF Greeting?": {
      "main": [
        [
          {
            "node": "Empty RAG Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Embed Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty RAG Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Log Assistant Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Event": {
      "main": [
        [
          {
            "node": "Get Chat State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat State": {
      "main": [
        [
          {
            "node": "Merge Chat State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Chat State": {
      "main": [
        [
          {
            "node": "Preprocess Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log User Message": {
      "main": [
        [
          {
            "node": "Preprocess Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Chat State": {
      "main": [
        [
          {
            "node": "IF Greeting?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Assistant Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2674a0ff-e9ab-4608-80e8-2efe56c07519",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81f721c25ceee81c86955f45c35d6d062165004a9e09a2c7ca76426f279f2871"
  },
  "id": "HhCINmcPun9jwpp0",
  "tags": []
}